* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #000080;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #ffc222;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

ul {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  text-align:left;
  color: #fce3a5;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 200px;

}

section{
    padding: 10px;
}

p {
    position: fixed;
    display: flex;
    top: 630px;
    left: 0;
    padding:20px;
    text-align: left;
    color: #fce3a5;
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 54%;
}

button{
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-family: "Orbitron", sans-serif;    
    font-size: 20px;
    font-weight: bold;
    color:#000080;
    width: 250px;
    height: 80px;
    background-color:#ffc222;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
}


.detalhe-bottom{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}