*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: #000080;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;

}

img{
    height: 500px;
    margin-right: 0px;
    margin-left: -120px;
}


h1{
    font-family: "Orbitron", sans-serif;
   color:#ffc222;
   position: fixed;
   top: 0;
   left: 0;
   padding: 10px;
   margin-top: 20px;
   margin-left: 20px;
    

}


h2{
    font-family: "Orbitron", sans-serif;
    position: fixed;
    display: flex;
    top: 120px;
    left: 605px;
    text-align: center;
    margin-right: 390px;
    padding:20px;
    text-align: start;
    color: #fce3a5;
    font-size: 50px;
    
    

}

p{
    margin-right: 390px;
    padding:20px;
    text-align: start;
    color: #fce3a5;
    font-size: 30px;
    letter-spacing: 1px;
    
}

button{
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-family: "Orbitron", sans-serif;    
    font-size: 20px;
    font-weight: bold;
    color:#000080;
    width: 250px;
    height: 80px;
    background-color:#ffc222;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
}

.detalhe-ramos{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}