* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
}

.parte-de-cima{
display: flex;
align-items: center;
gap: 30px;
margin-top: 30px;
margin-left: 35px;

}

.parte-de-cima a{
font-family: "Orbitron", sans-serif;
color: white;
font-size: 25px;
font-weight: bold;
cursor:pointer;
text-decoration: none;
letter-spacing:3px;


}

.parte-de-cima a:hover{
    color:#ffc222;
    font-size: 27px;
    transition: 0.5s ease-in-out;
}


.caixa-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
}

.caixa-mae {
  width: 40%;
}

.primeira-img {
  height: 200px;
}



h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
}

button {
  font-family: "Orbitron", sans-serif;
  color: white;
  background-color: #000080;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

img {
  width: 500px;
}

.caixa-video{
    position: fixed;
    top: 0;
    z-index: -1;
}

video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.mascara {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  position: fixed;
  top: 0;
}

.link-whats{
    height: 70px;
    width: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;

}

.formula{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: fixed;
    top: 30%;
    left: -350px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
  
}


input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    outline-color: #ffc222;
}


textarea{
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    outline-color: #ffc222;

}

.botao-enviar{
    margin: 0 auto;
}

.mascara-formula{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  transition: visibility 1s ease-in-out;
}


@media(max-width: 1200px){

 
 
.caixa-principal {
    flex-direction: column;
}

.parte-de-cima{
    gap: 20px;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 15px;
}

.caixa-mae {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



a{ 
  white-space: nowrap;
}



h2{
  display: none;
}



p{
  display: none;
}

.primeira-img{
  width: 300px;
  margin-bottom: 30px
}
button{
  margin-top: 80px;
  width: 240px;
  height: 80px;
}

.caixa-filha{
  margin-top: 90px;
}

img {
    width: 300px;
    margin-top: 25px ;
}


video {
    width: 280vw;
    height: 190vh;
}

.mascara {
    height: 200vh;
    width: 270vw;
}

}

/* inicio = top: 30%;
            left: -300px;
            
   final= top: 30%;
          left: 50%;
          transform: translateX(-50%);*/